*.class

*.log

target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar

.idea/
*.iws
*.iml
*.ipr
out/

.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

.vscode/
*.code-workspace

.DS_Store
.AppleDouble
.LSOverride

Thumbs.db
ehthumbs.db
Desktop.ini

*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

hs_err_pid*


spring-boot-devtools.properties